/* Importa la fuente 'Montserrat' desde Google Fonts con distintos pesos y estilos */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

/* General */
* {
    margin: 0; /* Establece el margen exterior en 0 */
    padding: 0; /* Establece el relleno interior en 0 */
    box-sizing: border-box; /* Hace que el tamaño total de un elemento sea su ancho y alto incluyendo el relleno y el borde, pero no el margen */
    list-style: none; /* Elimina el marcador de lista */
}

/* Header General */
body {
    /* Estilo del cuerpo de la página */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    /* Estilo del encabezado */
    background-color: #333;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header .logo {
    /* Alineación del logo */
    display: flex;
    align-items: center;
}

.header .logo img {
    /* Estilo del logo en el encabezado */
    height: 100px;
}

.header .social-icons {
    /* Contenedor de los iconos de redes sociales */
    display: flex;
    align-items: center;
}

.header .social-icons ul {
    /* Lista de iconos de redes sociales */
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header .social-icons ul li {
    margin: 0 10px;
}

.header .social-icons ul li a {
    display: flex;
    align-items: center;
}

/* Estilo de los iconos de redes sociales */
.social-icon {
    height: 30px; 
}

.social-icon a {
    /* Estilo específico para el enlace "Iniciar Sesión" */
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    margin-top: 15px;
}

.social-icon a:hover {
    /* Estilo de hover para el enlace "Iniciar Sesión" */
    text-decoration: underline; /* Cambia aquí si deseas que tenga subrayado al hacer hover */
}

/*--------------------------------------------------------------------*/

/* Nav bar general---------------------------------------------------------- */
.navbar {
    /* Estilo de la barra de navegación */
    background-color: #444;
    color: white;
    padding: 20px;
}

.navbar ul {
    /* Estilo de la lista en la barra de navegación */
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    /* Estilo de los elementos de la lista en la barra de navegación */
    margin: 0 10px;
}

.navbar ul li a {
    /* Estilo de los enlaces en la barra de navegación */
    color: white;
    text-decoration: none;
}

/* FIN DE NAV BAR---------------------------------------------*/


/* Log in */
.main {
    /* Estilo del contenedor principal */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    /* Estilo del contenedor del formulario de inicio de sesión */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form h2 {
    /* Estilo del título del formulario de inicio de sesión */
    margin-bottom: 20px;
}

.login-form label {
    /* Estilo de las etiquetas en el formulario de inicio de sesión */
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    /* Estilo de los campos de entrada en el formulario de inicio de sesión */
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group {
    /* Estilo del grupo de botones de opción en el formulario de inicio de sesión */
    margin-bottom: 15px;
}

.radio-group input {
    /* Estilo de los botones de opción en el formulario de inicio de sesión */
    margin-right: 5px;
}

.radio-group label {
    /* Estilo de las etiquetas de los botones de opción en el formulario de inicio de sesión */
    margin-right: 10px;
}

.login-form button {
    /* Estilo del botón de envío en el formulario de inicio de sesión */
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    /* Estilo del botón de envío en el formulario de inicio de sesión cuando se pasa el cursor por encima */
    background-color: #555;
}

/* Footer */
.footer {
    /* Estilo del pie de página */
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer_columna h4 {
    /* Estilo de los títulos de las columnas del pie de página */
    margin-bottom: 10px;
}

.footer_columna ul {
    /* Estilo de las listas en las columnas del pie de página */
    list-style: none;
    padding: 0;
}

.footer_columna ul li {
    /* Estilo de los elementos de las listas en las columnas del pie de página */
    margin-bottom: 5px;
}

.footer_columna ul li a {
    /* Estilo de los enlaces en las columnas del pie de página */
    color: white;
    text-decoration: none;
}


