/* Header */
.header {
    background-color: #333;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 60px;
}

.header .social-icons {
    display: flex;
    align-items: center;
}

.header .social-icons ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header .social-icons ul li {
    margin: 0 10px;
}

.header .social-icons ul li a {
    display: flex;
    align-items: center;
}

.social-icon {
    height: 30px; 
}

.social-icon a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
}

.social-icon a:hover {
    text-decoration: underline;
}

/* Navbar */
.navbar {
    background-color: #444;
    color: white;
    padding: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

/* Main table */
.main-lista-profesores {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ajusta para que la tabla esté más arriba */
    height: 100vh;
    padding-top: 50px; /* Ajusta según sea necesario */
}

.contenedor-tabla-prof {
    width: 80%; /* Ancho deseado para la tabla */
    padding: 20px;
    box-sizing: border-box;
    text-align: center; /* Centra el contenido de la tarjeta */
}

.titulo-tabla {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.prof-tabla {
    width: 100%;
    border-collapse: collapse;
}

.prof-tabla th, 
.prof-tabla td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.prof-tabla .titulo-fila {
    background-color: #444;
    color: white;
}

.prof-tabla tbody tr:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el cursor */
}

/* Agregar Profesor */
.agregar-profesor {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Ajusta según sea necesario */
    justify-content: start;
}

.agregar-profesor .agregar-icon {
    height: 30px; /* Ajusta el tamaño de la imagen */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.agregar-profesor .agregar-text {
    font-size: 18px; /* Ajusta el tamaño del texto */
    font-weight: bold; /* Ajusta el peso del texto */
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer_columna {
    flex: 1;
    margin-right: 20px;
}

.footer_columna h4 {
    margin-bottom: 10px;
}

.footer_columna ul {
    list-style: none;
    padding: 0;
}

.footer_columna ul li {
    margin-bottom: 5px;
}

.footer_columna ul li a {
    color: white;
    text-decoration: none;
}
    