/* Header */
.header {
    background-color: #333;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 60px;
}

.header .social-icons {
    display: flex;
    align-items: center;
}

.header .social-icons ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header .social-icons ul li {
    margin: 0 10px;
}

.header .social-icons ul li a {
    display: flex;
    align-items: center;
}

.social-icon {
    height: 30px; 
}

.social-icon a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
}

.social-icon a:hover {
    text-decoration: underline;
}

/* Navbar */
.navbar {
    background-color: #444;
    color: white;
    padding: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

/* Main login --------------------------------ESTO------------------------------------------*/
.main-login-general {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenedor-login {
    background-color: #f9f9f9;
    padding: 30px;
    width: 300px; /* Más ancho para el contenedor del login */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
    margin-bottom: 25px;
}

.clase-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.clase-form label {
    display: block;
    margin-bottom: 5px;
}

.clase-form input {
    width: calc(100% - 20px); /* Consistente con el padding del contenedor */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.icono-seleccion {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.icono-seleccion input {
    margin-right: 5px;
}

.icono-seleccion label {
    margin-right: 10px;
}

.clase-form button {
    width: calc(100% - 20px); /* Consistente con el padding del contenedor */
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clase-form button:hover {
    background-color: #555;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer_columna {
    flex: 1;
    margin-right: 20px;
}

.footer_columna h4 {
    margin-bottom: 10px;
}

.footer_columna ul {
    list-style: none;
    padding: 0;
}

.footer_columna ul li {
    margin-bottom: 5px;
}

.footer_columna ul li a {
    color: white;
    text-decoration: none;
}
