/* Importa la fuente 'Montserrat' desde Google Fonts con distintos pesos y estilos */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

/* General */
* {
    margin: 0; /* Establece el margen exterior en 0 */
    padding: 0; /* Establece el relleno interior en 0 */
    box-sizing: border-box; /* Hace que el tamaño total de un elemento sea su ancho y alto incluyendo el relleno y el borde, pero no el margen */
    list-style: none; /* Elimina el marcador de lista */
}

body {
    font-family: "Montserrat", sans-serif; /* Usa la fuente Montserrat o, si no está disponible, una fuente sans-serif */
    font-size: 1.2rem; /* Establece el tamaño de fuente base en 1.2 rem */
    min-height: 100vh; /* Establece la altura mínima del cuerpo como el 100% del viewport */
    background-color: #FFFFFF; /* Establece el color de fondo del cuerpo */

}

.main


/* Maquetado */

body {
    display: grid;
    grid-template:
    "header" 200px
    "navbar" 300px
    "main" auto
    "footer" 300px
    ;
    
    .header {
        grid-area: "header";
        background-color: aqua;
    }
    .navbar {
        grid-area: "navbar";
        background-color: green;
    }
    .main {
        grid-area: "main";
        background-color: pink;
    }
    .footer {
        grid-area: "footer";
        background-color: blueviolet;
    }
}




.login-container {

}



