/* Importa la fuente 'Montserrat' desde Google Fonts con distintos pesos y estilos */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

/* General */
* {
    margin: 0; /* Establece el margen exterior en 0 */
    padding: 0; /* Establece el relleno interior en 0 */
    box-sizing: border-box; /* Hace que el tamaño total de un elemento sea su ancho y alto incluyendo el relleno y el borde, pero no el margen */
    list-style: none; /* Elimina el marcador de lista */
    text-decoration: none; /* Elimina la decoración del texto */
}

/* Maquetado */

.body {
    display: grid;
    grid-template:
    "header" 200px
    "navbar" 75px
    "main"
    "main"
    "main"
    "footer"
    ;
    
    .header {
        grid-area: "header";
        background-color: rgba(11,62,105,1);
        margin: 0.5% 2% 0% 2%;
    }
    .navbar {
        grid-area: "navbar";
        background-color: rgba(51,113,172,1);
        align-content: center;
    }
    .main {
        grid-area: "main";
        background-color: rgba(254,254,254,1);
        margin: 0% 2%;
    }
    .footer {
        grid-area: "footer";
        background-color: rgba(51,113,172,1);
    }
}

.header, .social-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.social-nav, .social-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}


.social-nav img {
    background-color: #FFFFFF;
    padding: 2%;
    border-radius: 25%;
    height: 50px;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    li {
        
        align-items: center;
    }
    
}


body {
    font-family: "Montserrat", sans-serif; /* Usa la fuente Montserrat o, si no está disponible, una fuente sans-serif */
    font-size: 1.2rem; /* Establece el tamaño de fuente base en 1.2 rem */
    min-height: 100vh; /* Establece la altura mínima del cuerpo como el 100% del viewport */
    background-color: #FFFFFF; /* Establece el color de fondo del cuerpo */

}

/* Estilos para elementos hijos directos de '.body' */
.body > *{
    box-shadow: 10px 6px 37px -13px rgba(51,51,51,0.74); /* Establece una sombra en los elementos */
    
    padding: 10px; /* Establece un relleno interno de 10px */
    text-align: center; /* Centra el texto */
    font-weight: 500; /* Establece el grosor de la fuente */
}

.header {
    font-weight: 500; /* Grosor del texto */
    font-size: 1.25rem; /* Tamaño del texto */
    color: #edf0f1; /* Color del texto */
    
    /* Estilos para elementos de lista, enlaces y botones dentro del encabezado */
    li, a, button {
        font-weight: 500; /* Grosor del texto */
        font-size: 1.25rem; /* Tamaño del texto */
        color: #edf0f1; /* Color del texto */
    }
}

/* Estilos para el logotipo */
.logo img {
    height: 100px; /* Establece la altura de la imagen del logotipo en 100px */
    cursor: pointer; /* Establece el cursor como un puntero al pasar sobre el logotipo */
    background-color: #FFF; /* Establece el color de fondo del logotipo */
    margin: 10px; /* Establece un margen exterior de 10px */
    padding: 10px; /* Establece un relleno interno de 10px */
    border-radius: 50%; /* Establece un radio de borde del 50% para que el logotipo sea circular */
}

.button button {
    /* Establece el estilo del botón */
    color: #edf0f1; /* Color del texto */
    font-size: 1rem; /* Tamaño del texto */
    font-weight: 500; /* Grosor del texto */
    padding: 9px 25px; /* Establece un relleno interno de 9px arriba y abajo y 25px a los lados */
    background-color: rgba(250,153,28,1); /* Establece un color de fondo con transparencia */
    border: none; /* Elimina el borde */
    border-radius: 50px; /* Establece un radio de borde para que el botón sea redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: all 0.3s ease 0s; /* Establece una transición suave para todas las propiedades que cambien durante 0.3 segundos */
}

/* Estilos para el botón al pasar el mouse sobre él */
.button button:hover {
    background-color: rgba(228,140,25,1); /* Cambia el color de fondo con transparencia al pasar el mouse */
}


/* Estilos para elementos de lista dentro de la barra de navegación */
.navbar li, .social-nav li {
    display: inline-block; /* Muestra los elementos en línea */
    padding: 0px 20px; /* Establece un relleno de 20px a los lados (espaciado interno) */

    a {
        color: #FFFFFF;
        transition: all 0.3s ease 0s; /* Establece una transición suave para todas las propiedades que cambien durante 0.3 segundos */
    }

    /* Estilos para el enlace al pasar el mouse sobre él */
    a:hover {
        color: rgba(250,153,28,1); /* Cambia el color del texto al pasar el mouse */
    }
}


/* Estilos para el pie de página */
.footer {
    display: grid; /* Muestra los elementos como una fila */
    grid-template-columns: 20% auto 20%; /* Permite que los elementos se envuelvan a la siguiente línea si no caben en la fila */
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilos para los enlaces del pie de página */
.footer_columna {
    
    padding: 15px; /* Establece un relleno de 15px */
    
    h4 {
        font-size: 1.25rem; /* Tamaño de fuente */
        color: #edf0f1; /* Color del texto */
        margin-bottom: 25px; /* Establece un margen inferior de 25px */
        font-weight: 500; /* Grosor del texto */
        border-bottom: 2px solid rgba(250,153,28,1); /* Establece un borde inferior de 2px sólido con un color específico */
        padding-bottom: 10px; /* Establece un relleno inferior de 10px */
        display: inline-block; /* Muestra el título en línea */
    }

    p {
        color: #cccfcf;
        font-size: 15px;
    }

    ul li a {
        font-size: 18px; /* Tamaño de fuente */
        text-decoration: none; /* Elimina la decoración del texto */
        color: #cccfcf; /* Color del texto */
        display: block; /* Muestra los elementos como bloques */
        margin-bottom: 15px; /* Establece un margen inferior de 15px */
        transition: all 0.3s ease; /* Establece una transición suave para todas las propiedades que cambien durante 0.3 segundos */
    }

    /* Estilos para el enlace al pasar el mouse sobre él */
    ul li a:hover {
        color: rgba(250,153,28,1); /* Cambia el color del texto al pasar el mouse */
        padding-left: 6px; /* Añade un relleno izquierdo de 6px al pasar el mouse */
    }
}


.noticias {
    margin-top: 20px;
    text-align: center; /* Alinear el texto al centro */
}

.noticias h3 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.noticias-list {
    display: flex;
    flex-wrap: nowrap; /* Evitar que las noticias se envuelvan */
    justify-content: space-between; /* Espacio entre las noticias */
    align-items: flex-start; /* Alinear las noticias hacia arriba */
}


.noticias-list {
    display: flex;
    flex-wrap: nowrap; /* Evitar que las noticias se envuelvan */
    justify-content: flex-start; /* Justificar contenido al inicio (izquierda) */
    align-items: flex-start; /* Alinear las noticias hacia arriba */
    overflow-x: auto; /* Permitir desplazamiento horizontal si las noticias no caben */
    gap: 20px; /* Espacio entre las noticias */
}

.noticia {
    flex: 0 0 calc(33.33% - 20px); /* Ajustar el ancho de cada noticia (33.33% para tres noticias en una fila) */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px; /* Aumentar el padding para más espacio */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Alinear texto a la izquierda */
    margin-bottom: 20px; /* Espacio entre noticias */
    flex-shrink: 0; /* Evitar que las noticias se reduzcan más allá de su ancho */
    max-width: 33.33%; /* Establecer el ancho máximo para evitar superposiciones en pantallas pequeñas */
}

.noticia h4 {
    font-size: 18px;
    color: #4A4A4A;
    margin-top: 0; /* Eliminar el margen superior */
}

.noticia p {
    font-size: 14px;
    color: #7A7A7A;
    margin: 10px 0; /* Ajustar el margen */
}

.noticia a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #FFE699;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.noticia a:hover {
    background-color: #FFA500;
}

@media (max-width: 1200px) {
    .noticias-list {
        flex-wrap: wrap; /* Envolver noticias cuando no haya suficiente espacio */
        justify-content: space-between; /* Espacio entre noticias */
        gap: 20px; /* Espacio entre las noticias */
        overflow-x: hidden; /* Ocultar desplazamiento horizontal en pantallas más pequeñas */
    }

    .noticia {
        flex-basis: calc(50% - 20px); /* Dos noticias por fila en pantallas más pequeñas */
        max-width: calc(50% - 20px); /* Ancho máximo para evitar superposiciones */
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .noticia {
        flex-basis: calc(100% - 20px); /* Una noticia por fila en dispositivos móviles */
        max-width: calc(100% - 20px); /* Ancho máximo para evitar superposiciones */
    }
}

.noticia a:hover {
    background-color: #FFA500;
}



.imagen-profesores figcaption,
.imagen-calendario figcaption,
.imagen-estudiantes figcaption {
    text-align: center;
    margin-top: 10px;
}

.imagen-profesores figcaption a,
.imagen-calendario figcaption a,
.imagen-estudiantes figcaption a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFD700;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.imagen-profesores figcaption a:hover,
.imagen-calendario figcaption a:hover,
.imagen-estudiantes figcaption a:hover {
    background-color: #FFA500;
}


.soporte_div {
    flex: 0 0 calc(33.33% - 20px); /* Ajustar el ancho de cada noticia (33.33% para tres noticias en una fila) */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px; /* Aumentar el padding para más espacio */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Alinear texto a la izquierda */
    margin-bottom: 20px; /* Espacio entre noticias */
    flex-shrink: 0; /* Evitar que las noticias se reduzcan más allá de su ancho */
    /* max-width: 33.33%; */
     /* Establecer el ancho máximo para evitar superposiciones en pantallas pequeñas */
}

.soporte_div h4 {
    font-size: 18px;
    color: #4A4A4A;
    margin-top: 0; /* Eliminar el margen superior */
}

.soporte_div p {
    font-size: 14px;
    color: #7A7A7A;
    margin: 10px 0; /* Ajustar el margen */
}

.soporte_div a, #soy_profesor {
    display: inline-block;
    padding: 10px 15px;
    background-color: #FFE699;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.soporte_div a:hover {
    background-color: #FFA500;
}

@media (max-width: 1200px) {
    .noticias-list {
        flex-wrap: wrap; /* Envolver noticias cuando no haya suficiente espacio */
        justify-content: space-between; /* Espacio entre noticias */
        gap: 20px; /* Espacio entre las noticias */
        overflow-x: hidden; /* Ocultar desplazamiento horizontal en pantallas más pequeñas */
    }

    .soporte_div {
        flex-basis: calc(50% - 20px); /* Dos noticias por fila en pantallas más pequeñas */
        max-width: calc(50% - 20px); /* Ancho máximo para evitar superposiciones */
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .soporte_div {
        flex-basis: calc(100% - 20px); /* Una noticia por fila en dispositivos móviles */
        max-width: calc(100% - 20px); /* Ancho máximo para evitar superposiciones */
    }
}

.soporte_div a:hover {
    background-color: #FFA500;
}

.soporte_div img {
    height: 350px;
}