/* Importaciones para las páginas */

/* Importa la fuente 'Montserrat' desde Google Fonts con distintos pesos y estilos */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

/* Fin Importaciones para las páginas */








/* Estilos que usan todas las páginas */

/* General */
html,
body {
    margin: 0; /* Establece el margen exterior en 0 */
    padding: 0; /* Establece el relleno interior en 0 */
    box-sizing: border-box; /* Hace que el tamaño total de un elemento sea su ancho y alto incluyendo el relleno y el borde, pero no el margen */
    list-style: none; /* Elimina el marcador de lista */
    font-family: "Montserrat", sans-serif; /* Usa la fuente Montserrat o, si no está disponible, una fuente sans-serif */
    font-size: 1.2rem; /* Establece el tamaño de fuente base en 1.2 rem */
    font-weight: 300;
    min-height: 100vh; /* Establece la altura mínima del cuerpo como el 100% del viewport */
    background-color: #FFFFFF; /* Establece el color de fondo del cuerpo */
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
p {
    margin: 0 0 15px;
}
ol,
ul {
    list-style: none;
    padding: 0;
}
img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
h1,
h2,
h3 {
    /*font-family: 'Lane', sans-serif;*/
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    /*font-family: 'roboto', sans-serif;*/
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}
.text {
    color: #333333;
}
.colorstext {
    color: #f56363;
}
.coloricon i {
    color: #f56363;
}
.colorsbg {
    background: #f56363;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.728571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    padding: 1em;
}
.btn-default {
    border-radius: 0px;
    background: #82ca9c;
    color: #ededed;
    border: 0;
    padding: 12px 15px;
    max-width:160px;
    margin-top: 20px;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: rgba(0, 173, 62, 0.75);
    border-color:transparent;
}
/* Fin General */




/* Maquetado */
.body {
    display: grid;
    grid-template:
    "header" 200px
    "navbar" 75px
    "main" auto
    "main" auto
    "main" auto
    "footer" auto
    ;
    
    .header {
        grid-area: "header";
        background-color: rgba(11,62,105,1);
        margin: 0.5% 2% 0% 2%;
    }
    .navbar {
        grid-area: "navbar";
        background-color: rgba(51,113,172,1);
        align-content: center;
    }
    .main {
        grid-area: "main";
        background-color: rgba(254,254,254,1);
        margin: 0% 2%;
    }
    .footer {
        grid-area: "footer";
        background-color: rgba(51,113,172,1);
    }
}
/* Fin Maquetado */




/* Header */



/* Fin Header */




/* Navbar */



/* Fin Navbar */




/* Aside */




/* Fin Aside */




/* About */

/* Fin About */




/* Footer */




/* Fin Footer */

/* Fin Estilos que usan todas las páginas */