/* Importaciones para las páginas */

/* Importa la fuente 'Montserrat' desde Google Fonts con distintos pesos y estilos */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

/* Fin Importaciones para las páginas */








/* Base */
* {
    margin: 0; /* Establece el margen exterior en 0 */
    padding: 0; /* Establece el relleno interior en 0 */
    box-sizing: border-box; /* Hace que el tamaño total de un elemento sea su ancho y alto incluyendo el relleno y el borde, pero no el margen */
    list-style: none; /* Elimina el marcador de lista */
    text-decoration: none; /* Elimina la decoración del texto */
}
html,
body {
    font-family: "Montserrat", sans-serif; /* Usa la fuente Montserrat o, si no está disponible, una fuente sans-serif */
    font-size: 1.2rem; /* Establece el tamaño de fuente base en 1.2 rem */
    font-weight: 500;
    min-height: 100vh; /* Establece la altura mínima del cuerpo como el 100% del viewport */
    background-color: #FFFFFF; /* Establece el color de fondo del cuerpo */
}
/* Estilos para elementos hijos directos de '.body' */
.body > *{
    box-shadow: 10px 6px 37px -13px rgba(51,51,51,0.74); /* Establece una sombra en los elementos */
    padding: 10px; /* Establece un relleno interno de 10px */
    text-align: center; /* Centra el texto */
} 
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
p {
    margin: 0 0 15px;
}
ol,
ul {
    list-style: none;
    padding: 0;
}
img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
h1,
h2,
h3 {
    font-family: 'Lane', sans-serif;
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}
.text {
    color: #333333;
}
.colorstext {
    color: rgba(250,153,28,1);
}
.coloricon i {
    color: rgba(250,153,28,1);
}
.colorsbg {
    background: rgba(250,153,28,1);
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.btn {
     /* Establece el estilo del botón */
     color: #edf0f1; /* Color del texto */
     font-size: 25px; /* Tamaño del texto */
     font-weight: 500; /* Grosor del texto */
     padding: 9px 25px; /* Establece un relleno interno de 9px arriba y abajo y 25px a los lados */
     background-color: rgba(250,153,28,1); /* Establece un color de fondo con transparencia */
     border: none; /* Elimina el borde */
     border-radius: 50px; /* Establece un radio de borde para que el botón sea redondeado */
     cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
     transition: all 0.3s ease 0s; /* Establece una transición suave para todas las propiedades que cambien durante 0.3 segundos */
 
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-color: rgba(228,140,25,1); /* Cambia el color de fondo con transparencia al pasar el mouse */
}
/* Fin Base */

/* Maquetado */
.body {
    display: grid;
    grid-template:
    "header" 200px
    "navbar" 75px
    "main" auto
    "footer" auto
    ;
    
    header {
        grid-area: "header";
        background-color: rgba(11,62,105,1);
        margin: 0.5% 2% 0% 2%;
        display: flex;
        justify-content: space-between;
        padding: 0 35px 15px;
        align-items: end;
        border-top: 3 solid rgba(51,113,172,1);
    }
    .navbar {
        grid-area: "navbar";
        background-color: rgba(51,113,172,1);
        align-content: center;
    }
    .main {
        grid-area: "main";
        background-color: rgba(254,254,254,1);
        margin: 0% 2%;
    }
    footer {
        grid-area: "footer";
        background-color: rgba(51,113,172,1);
    }
}
/* Fin Maquetado */




/* Estilos que usan todas las páginas */

/* Header */
/* Estilos para el logotipo */
.logo {
    height: 150px;
    width: 150px;
}
.logo img {
    
    cursor: pointer; /* Establece el cursor como un puntero al pasar sobre el logotipo */
    background-color: #FFF; /* Establece el color de fondo del logotipo */
    margin:  0 10px; /* Establece un margen exterior de 10px */
    padding: 25px 0px; /* Establece un relleno interno de 10px */
    border-radius: 50%; /* Establece un radio de borde del 50% para que el logotipo sea circular */
}
/* Estilos para las redes sociales */
header .social-icon a{
    float:left;
    font-size:50px;
    color:#fff;
}
header .social-icon a:hover{
    color:rgba(250,153,28,1);
}
header .social-icon a i{
    padding-right:50px;
}
header .btn-icon .fa{
    padding: 20px;
    width: 90px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
header .btn-icon .fa:hover{
      background-color: rgba(228,140,25,1);
  }
header .btn-icon .fa-user{
    background: rgba(250,153,28,1);
    color: white;
  }
/* Fin Header */




/* Navbar */
/* Estilos para elementos de lista dentro de la barra de navegación */
.navbar-opcion {
    display: inline-block; /* Muestra los elementos en línea */
    padding: 0px 20px; /* Establece un relleno de 20px a los lados (espaciado interno) */
    font-size: 20px;
    color: #FFFFFF;
    transition: all 0.3s ease 0s; /* Establece una transición suave para todas las propiedades que cambien durante 0.3 segundos */
    /* Estilos para el enlace al pasar el mouse sobre él */
}
.navbar-opcion:hover {
    color: rgba(250,153,28,1); /* Cambia el color del texto al pasar el mouse */
}
.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
.navbar button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(51,113,172,1);
    min-width: 160px;
    box-shadow: 10px 6px 37px -13px rgba(51,51,51,0.74);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: rgba(228,140,25,1);
} 
.dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: auto;
}
/* Fin Navbar */




/* Aside */




/* Fin Aside */




/* About */

/* Fin About */




/* Footer */
.footer {
    display: grid; /* Muestra los elementos como una fila */
    grid-template-columns: 20% auto 20%; /* Permite que los elementos se envuelvan a la siguiente línea si no caben en la fila */
    text-align: left; /* Alinea el texto a la izquierda */
}
.footer_columna {
    
    padding: 15px; /* Establece un relleno de 15px */
    
    h4 {
        font-size: 1.25rem; /* Tamaño de fuente */
        color: #edf0f1; /* Color del texto */
        margin-bottom: 25px; /* Establece un margen inferior de 25px */
        font-weight: 500; /* Grosor del texto */
        border-bottom: 2px solid rgba(250,153,28,1); /* Establece un borde inferior de 2px sólido con un color específico */
        padding-bottom: 10px; /* Establece un relleno inferior de 10px */
        display: inline-block; /* Muestra el título en línea */
    }

    p {
        color: #cccfcf;
        font-size: 15px;
    }

    ul li a {
        font-size: 18px; /* Tamaño de fuente */
        text-decoration: none; /* Elimina la decoración del texto */
        color: #cccfcf; /* Color del texto */
        display: block; /* Muestra los elementos como bloques */
        margin-bottom: 15px; /* Establece un margen inferior de 15px */
        transition: all 0.3s ease; /* Establece una transición suave para todas las propiedades que cambien durante 0.3 segundos */
    }

    /* Estilos para el enlace al pasar el mouse sobre él */
    ul li a:hover {
        color: rgba(250,153,28,1); /* Cambia el color del texto al pasar el mouse */
        padding-left: 6px; /* Añade un relleno izquierdo de 6px al pasar el mouse */
    }
}
/* Fin Footer */

/* Fin Estilos que usan todas las páginas */















/* Carpeta General */

/* Home */

/* Fin Home */




/* Login */


/* Fin Login */

/* Fin Carpeta General */
















/* Carpeta Admin */

/* Home */


/* Fin Home */








/* Usuarios */


/* Lista de Administradores */

/* Fin Lista de Administradores */




/* Lista de Profesores */


/* Fin Lista de Profesores */




/* Lista de Estudiante */


/* Fin Lista de Estudiante */




/* Lista de Estudiante por Curso*/


/* Fin Lista de Estudiante por Curso */




/* Registrar Usuario */


/* Fin Registrar Usuario */

/* Fin Usuarios */








/* Cursos */

/* Lista de Cursos */


/* Fin Lista de Cursos */




/* Registrar Curso */


/* Fin Registrar Curso */




/* Registrar Lección */

/* Fin Registrar Lección */

/* Fin Carpeta Admin */
















/* Carpteta Profesor */

/* Home */


/* Fin Home */








/* Usuarios */


/* Lista de Administradores */

/* Fin Lista de Administradores */




/* Lista de Profesores */


/* Fin Lista de Profesores */




/* Lista de Estudiante */


/* Fin Lista de Estudiante */




/* Lista de Estudiante por Curso*/


/* Fin Lista de Estudiante por Curso */




/* Registrar Usuario */


/* Fin Registrar Usuario */

/* Fin Usuarios */








/* Cursos */

/* Lista de Cursos */


/* Fin Lista de Cursos */




/* Registrar Curso */


/* Fin Registrar Curso */




/* Registrar Lección */

/* Fin Registrar Lección */

/* Fin Carpeta Profesor */
















/* Carpeta Estudiante */

/* Home */


/* Fin Home */








/* Usuarios */


/* Lista de Administradores */

/* Fin Lista de Administradores */




/* Lista de Profesores */


/* Fin Lista de Profesores */




/* Lista de Estudiante */


/* Fin Lista de Estudiante */




/* Registrar Usuario */


/* Fin Registrar Usuario */

/* Fin Usuarios */








/* Cursos */

/* Lista de Cursos */


/* Fin Lista de Cursos */




/* Registrar Curso */


/* Fin Registrar Curso */




/* Registrar Lección */

/* Fin Registrar Lección */

/* Fin Carpeta Estudiante */
















/* Carpeta Backend */

/* Home */


/* Fin Home */








/* Usuarios */


/* Lista de Administradores */

/* Fin Lista de Administradores */




/* Lista de Profesores */


/* Fin Lista de Profesores */




/* Lista de Estudiante */


/* Fin Lista de Estudiante */




/* Lista de Estudiante por Curso*/


/* Fin Lista de Estudiante por Curso */




/* Registrar Usuario */


/* Fin Registrar Usuario */

/* Fin Usuarios */








/* Cursos */

/* Lista de Cursos */


/* Fin Lista de Cursos */




/* Registrar Curso */


/* Fin Registrar Curso */




/* Registrar Lección */

/* Fin Registrar Lección */


/* Fin Carpeta Backend */







/* 


.social-nav, .social-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}


.social-nav img {
    background-color: #FFFFFF;
    padding: 2%;
    border-radius: 25%;
    height: 50px;
}




/*body {
    font-family: "Montserrat", sans-serif; /* Usa la fuente Montserrat o, si no está disponible, una fuente sans-serif 
    font-size: 1.2rem; /* Establece el tamaño de fuente base en 1.2 rem 
    min-height: 100vh; /* Establece la altura mínima del cuerpo como el 100% del viewport 
    background-color: #FFFFFF; /* Establece el color de fondo del cuerpo 

}
*/

/* Estilos para elementos hijos directos de '.body' */
/* .body > *{
    box-shadow: 10px 6px 37px -13px rgba(51,51,51,0.74); /* Establece una sombra en los elementos 
    
    padding: 10px; /* Establece un relleno interno de 10px 
    text-align: center; /* Centra el texto 
    font-weight: 500; /* Establece el grosor de la fuente 
} */

/* .header {
    font-weight: 500; /* Grosor del texto *
    font-size: 1.25rem; /* Tamaño del texto *
    color: #edf0f1; /* Color del texto *
    
    /* Estilos para elementos de lista, enlaces y botones dentro del encabezado *
    li, a, button {
        font-weight: 500; /* Grosor del texto *
        font-size: 1.25rem; /* Tamaño del texto *
        color: #edf0f1; /* Color del texto *
    }
} */









/* Estilos para el pie de página */

/* Estilos para los enlaces del pie de página */



.noticias {
    margin-top: 20px;
    text-align: center; /* Alinear el texto al centro */
}

.noticias h3 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.noticias-list {
    display: flex;
    flex-wrap: nowrap; /* Evitar que las noticias se envuelvan */
    justify-content: space-between; /* Espacio entre las noticias */
    align-items: flex-start; /* Alinear las noticias hacia arriba */
}


.noticias-list {
    display: flex;
    flex-wrap: nowrap; /* Evitar que las noticias se envuelvan */
    justify-content: flex-start; /* Justificar contenido al inicio (izquierda) */
    align-items: flex-start; /* Alinear las noticias hacia arriba */
    overflow-x: auto; /* Permitir desplazamiento horizontal si las noticias no caben */
    gap: 20px; /* Espacio entre las noticias */
}

.noticia {
    flex: 0 0 calc(33.33% - 20px); /* Ajustar el ancho de cada noticia (33.33% para tres noticias en una fila) */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px; /* Aumentar el padding para más espacio */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Alinear texto a la izquierda */
    margin-bottom: 20px; /* Espacio entre noticias */
    flex-shrink: 0; /* Evitar que las noticias se reduzcan más allá de su ancho */
    max-width: 33.33%; /* Establecer el ancho máximo para evitar superposiciones en pantallas pequeñas */
}

.noticia h4 {
    font-size: 18px;
    color: #4A4A4A;
    margin-top: 0; /* Eliminar el margen superior */
}

.noticia p {
    font-size: 14px;
    color: #7A7A7A;
    margin: 10px 0; /* Ajustar el margen */
}

.noticia a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #FFE699;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.noticia a:hover {
    background-color: #FFA500;
}

@media (max-width: 1200px) {
    .noticias-list {
        flex-wrap: wrap; /* Envolver noticias cuando no haya suficiente espacio */
        justify-content: space-between; /* Espacio entre noticias */
        gap: 20px; /* Espacio entre las noticias */
        overflow-x: hidden; /* Ocultar desplazamiento horizontal en pantallas más pequeñas */
    }

    .noticia {
        flex-basis: calc(50% - 20px); /* Dos noticias por fila en pantallas más pequeñas */
        max-width: calc(50% - 20px); /* Ancho máximo para evitar superposiciones */
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .noticia {
        flex-basis: calc(100% - 20px); /* Una noticia por fila en dispositivos móviles */
        max-width: calc(100% - 20px); /* Ancho máximo para evitar superposiciones */
    }
}

.noticia a:hover {
    background-color: #FFA500;
}



.imagen-profesores figcaption,
.imagen-calendario figcaption,
.imagen-estudiantes figcaption {
    text-align: center;
    margin-top: 10px;
}

.imagen-profesores figcaption a,
.imagen-calendario figcaption a,
.imagen-estudiantes figcaption a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFD700;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.imagen-profesores figcaption a:hover,
.imagen-calendario figcaption a:hover,
.imagen-estudiantes figcaption a:hover {
    background-color: #FFA500;
}


.soporte_div {
    flex: 0 0 calc(33.33% - 20px); /* Ajustar el ancho de cada noticia (33.33% para tres noticias en una fila) */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px; /* Aumentar el padding para más espacio */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Alinear texto a la izquierda */
    margin-bottom: 20px; /* Espacio entre noticias */
    flex-shrink: 0; /* Evitar que las noticias se reduzcan más allá de su ancho */
    /* max-width: 33.33%; */
     /* Establecer el ancho máximo para evitar superposiciones en pantallas pequeñas */
}

.soporte_div h4 {
    font-size: 18px;
    color: #4A4A4A;
    margin-top: 0; /* Eliminar el margen superior */
}

.soporte_div p {
    font-size: 14px;
    color: #7A7A7A;
    margin: 10px 0; /* Ajustar el margen */
}

.soporte_div a, #soy_profesor {
    display: inline-block;
    padding: 10px 15px;
    background-color: #FFE699;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.soporte_div a:hover {
    background-color: #FFA500;
}

@media (max-width: 1200px) {
    .noticias-list {
        flex-wrap: wrap; /* Envolver noticias cuando no haya suficiente espacio */
        justify-content: space-between; /* Espacio entre noticias */
        gap: 20px; /* Espacio entre las noticias */
        overflow-x: hidden; /* Ocultar desplazamiento horizontal en pantallas más pequeñas */
    }

    .soporte_div {
        flex-basis: calc(50% - 20px); /* Dos noticias por fila en pantallas más pequeñas */
        max-width: calc(50% - 20px); /* Ancho máximo para evitar superposiciones */
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .soporte_div {
        flex-basis: calc(100% - 20px); /* Una noticia por fila en dispositivos móviles */
        max-width: calc(100% - 20px); /* Ancho máximo para evitar superposiciones */
    }
}

.soporte_div a:hover {
    background-color: #FFA500;
}

.soporte_div img {
    height: 350px;
}